/*fonts*/
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('proxima_nova_regular-webfont.woff2') format('woff2'),
    url('proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arciform_sansregular';
    src: url('arciform-webfont.woff2') format('woff2'),
    url('arciform-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*styles*/
.style-title {
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}
#p-nova {
    margin-top: 30px;
    color: white;
    font-family: proxima_nova_rgregular,sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
}
#p-nova-l {
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4rem;
}
#p-nova-r {
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}
#p-nova-b {
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}
.p-nova-des {
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    margin-top: -1rem;

}
#arciform {
    margin-top: 30px;
    color: white;
    font-family: 'arciform_sansregular',sans-serif;
    src: url('arciform-webfont.woff2') format('woff2'),
    url('arciform-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;

}
#arc-ex {
    color: white;
    font-family: 'arciform_sansregular',sans-serif;
    src: url('arciform-webfont.woff2') format('woff2'),
    url('arciform-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;

}
#komu {
    margin-top: 30px;
    color: white;
    font-family: komu-b,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size: 1.5rem;
}
#komu-ex {
    color: white;
    font-family: komu-b,sans-serif;
    font-style:normal;
    font-weight:400;
    font-size: 4rem;
    font-variant: small-caps;

}